<head>
    <!-- dependencies (jquery, handlebars and bootstrap) -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <link type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- alpaca -->
    <link type="text/css" href="//code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.css" rel="stylesheet" />
    <script type="text/javascript" src="//code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.js"></script>
</head>

<div id="form1"></div>
<script type="text/javascript">
    $("#form1").alpaca({
        "schema": {{schema|safe}},
        "options": {
            "form": {
                "attributes": {
                    "action": "{{url}}",
                    "method": "put"
                },
                "buttons": {
                    "validate": {
                        "title": "Validate and view JSON!",
                        "click": function () {
                            this.refreshValidationState(true);
                            if (this.isValid(true)) {
                                var value = this.getValue();
                                alert(JSON.stringify(value, null, "  "));
                            }
                        }
                    },
                    "submit": {
                        "click": function () {
                            this.ajaxSubmit().always(function () {
                                alert("Form submitted!");
                            });
                        },
                        "id": "mySubmit",
                        "attributes": {
                            "data-test": "123"
                        }
                    }
                }
            }
        }
    });
</script>